[modules]
[[configure_nginx]]
module = configure_nginx.py
public = False
description = "Configures nginx until start"
[[counter]]
module = counter.py
public = False
description = ""
#[[googleads]]
#module = googleads.py
#public = False
#description = ""
[[home]]
module = home.py
public = False
description = None
[[init]]
module = init.py
public = False
description = Install prerequisites
[[install_main_module]]
module = install_main_module.py
public = False
description = None
[[monitor]]
module = monitor.py
public = True
description = None
[[open-page]]
module = open-page.py
public = False
description = ""
[[openpage]]
module = openpage.py
public = False
description = None
[[pip_log]]
module = pip_log.py
public = False
description = None
[[send_mail]]
module = send_mail.py
public = False
description = ""
[[view_main]]
module = view_main.py
public = False
description = None
[settings]
[[FRONTEND_STATIC_URL]]
public = True
value = /static
[[GIT_URL]]
public = False
value = ""
[[DO_GOOGLE_ANALYTICS]]
public = False
value = ""
